.home-banner {
  background: linear-gradient(107.56deg, rgba(0, 0, 0, 0.822) 0%, rgba(3, 0, 190, 0.822) 30.19%, rgba(255, 50, 139, 0.4) 78.05%, rgba(0, 0, 0, 0.822) 97.75%);
  width: 100%;
  display: flex;
  align-items: center;
  // height: 100vh;
  position: relative;
  text-align: center;
  scroll-behavior: smooth;
  padding-top: 7rem;
  padding-bottom: 1.5rem;
  &-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D1D1D;
    opacity: 0.6;
  }
  &-item{
    height: 600px;
    &-middle{

      width: 925px;
      margin: auto;
      h1 {

        margin-bottom: -120px;
        font-family: "Bebas Neue";
        font-size: 300px;
        font-weight: 400;
        line-height: 216px;
        letter-spacing: 20px;
        transform: translateY(50px);
        color: transparent;
        -webkit-text-stroke: 4px #FFFFFF99;
      }
      img{
        width: 848px;
        height: 350px;
        margin: auto;
        object-fit: cover;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        transform: translateY(20px);
  
      }
      p{
        font-size: 30px;
        text-align: left;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
      }
      button{
        padding: 5px 12px;
        border: 3px solid white;
        background: transparent;
        color: white;
        border-radius: 3px;
        margin-top: 30px;
      }
    }
  }


  &-item:nth-of-type(3){
    margin-top: 50px;
  }


  .swiper{
  }
  .swiper-button-prev{
    display: none;
  }
  .swiper-button-next{
    display: none;
  }
  .swiper-pagination{
    // margin-top: 100px;
  }
  .swiper-pagination-bullet{
    width: 90px;
    border-radius: 10px;
    background: white;
  }
}
@media screen and (max-width: 420px) {
  .home-banner-item-middle{
    p{
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-banner {
    // height: 85vh;
    &-item{
      height: 510px;
      &-middle{
        width: 736px;
      }
      img{
        width: 650px;
        height: 270px;
      }
      h1{
        font-size: 230px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .home-banner {
    &-item{
      height: 510px;
      &-middle{
        width: 736px;
      }
      img{
        width: 650px;
        height: 270px;
      }
      h1{
        font-size: 230px;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .home-banner {
    &-item{
    &-middle{
      padding-top: 30px;
      width: 685px;
      img{
        width: 570px;
        height: 210px
      }
      h1{
        font-size: 210px;
      }
      p{
        padding-top: 25px;
        font-size: 23px;
      }
    }
    }
  }
}

@media screen and (max-width: 720px) {
  .home-banner {
    // height:55vh;
    &-item{
    height: 500px;
    &-middle{
    width: 525px;
    padding-top: 70px;
        
        height: 450px;
        img{
          width: 500px;
          height: 182px;
        }
        h1{
          line-height: 150px;
          font-size: 170px;
          margin-bottom: -90px
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-banner {
    // height:40vh;
    &-item{
    height: 500px;
      &-middle{
        width: 491px
        img{
          width: 410px;
          height: 165px;

        }
        h1{
          font-size: 135px;
          line-height: 150px;
        }
        button{
          font-size: 10px;
        }
        p{
          font-size: 18px;
          
        }
      }
    }
  }
  .swiper-pagination-bullet{
    width: 20px;
  }
}
@media screen and (max-width: 500px) {
  .home-banner {
    // height:40vh;
    &-item{
      height: 470px;
      // padding-top: 20px;
      &-middle{
        width: 395px;
        img{
          width: 371px;
          height: 147px;

        }
        h1{
          font-size: 105px;
          line-height: 150px;
        }
        button{
          font-size: 10px;
        }
        p{
          font-size: 18px;
          
        }
      }
    }
    .swiper-pagination-bullet{
      width: 55px;
    }
  }
}

@media screen and (max-width: 400px) {
  .home-banner {
    // height:40vh;
    &-item{
      height: 415px;
      padding-top: 15px;
      &-middle{
        padding-top: 0;
        width: 347px;
        img{
          width: 311px;
          height: 125px;

        }
        h1{
          font-size: 80px;
          line-height: 150px;
        }
        button{
          font-size: 10px;
        }
        p{
          font-size: 18px;
          
        }
      }
    }
    .swiper-pagination-bullet{
      width: 55px;
    }
  }
}

