.header{
    background: var(--layout);  
    // position: fixed;
    // width: 100%;
    // z-index: 20;  
    align-items: center;
    border-bottom: 2px solid var(--blue);

}
.row{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    p{
        font-size: 23px;
        font-family: "Michroma";
        padding-left: 20px;
        color: var(--white);
        text-transform: uppercase;
        width: 145px;
    }
}
.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: var(--white);
    li{
        cursor: pointer;
    }
}
.options{
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--white);
    transition: all 300ms ease;

    &-search{
        display: flex;
        align-items: center;
        span{
            margin-left: 7px;
        }
    }
    &-currency{
        display: flex;
        align-items: center;
        p{
            margin: 0 7px;
            font-size: 12px;
        }
        svg:first-child{
            font-size: 22px;
        }
    }
    &-language{
        display: flex;
        align-items: center;
        svg{
            margin-left: 7px;
        }
    }
}





