.header{
    background: var(--layout);  
    position: fixed;
    width: 100%;
    z-index: 20;  
    align-items: center;
    border-bottom: 2px solid var(--blue);
    padding: 0 100px;
}
.row{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    align-items: center;
    z-index: 100;
    width: 200px;
    p{
        font-size: 23px;
        font-family: "Michroma";
        padding-left: 7px;
        color: var(--white);
        text-transform: uppercase;
        width: 131px;
    }
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: var(--white);
    width: 950px;
    li{
        cursor: pointer;
    }
}

.language{
    display: flex;
    width: 200px;
    justify-content: space-between;
    gap: 10px;
    img{
        width: 40px;
    }
}
.burger{
    font-size: 40px;
    color: var(--white);
    display: none;
    // width: 200px;
    
}



@media screen and (max-width: 1050px) {
    .nav{
        position: fixed;
        top: 0;
        left: 0%;
        text-align: center;
        width: 100%;
        // padding-top: 80px;
        height: 800px;
        justify-content: center;
        background-color: black;
        z-index: 2;
        padding-left: 20px;
        display: none;
        overflow: auto;
        font-size: 40px;
        -webkit-scrollbar: none;
        padding: 80px 50px;
        li{
            margin-top: 50px;
            // margin-left: 100px;
        }
    }
    .language{
        display: none;
        z-index: 10;
        position: absolute;
        top: 520%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .burger{
        z-index: 100;
        display: flex;
        justify-content: flex-end;
    }
    .header{
        padding: 0 50px;
    }
}
@media screen and (max-width: 700px){
    .header{
        padding: 0 20px;
    }
    svg{
        font-size: 30px;
    }
    
    .logo{
        p{
            font-size: 20px;
            line-height: 1.5;
        }
        img{
            width: 40px;
        }
    }
}


@media screen and (max-width: 560px){
    .nav{
        font-size: 30px;
    }
    .language{
        top: 500%
    }
}