.home-cars{
    position: relative;

    margin: 80px 100px;
    &-top{
        h4{
            font-size: 24px;
            line-height: 31px;
        }
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 25px;
            li{
                width: 200px;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 8px;
                transition: all 300ms ease;
                cursor: pointer;
                &:hover{
                    background-color: black;
                }
            }
        }
    }
    &-bottom{
        margin-top: 80px;
        &-title{
            display: flex;
            align-items: center;
            gap: 50px;
            h2{
                font-size: 42px;
                letter-spacing: 0.1rem;         
            }
            button{
                padding: 12px 20px;
                background: transparent;
                border: 2px solid;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 700;
            }
        }
        &-items{
            transition: 300ms ease;
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            &-item{
            animation: appearItem 0.9s ease;

                transition: 300ms ease;
                text-align: center;
                width: 420px;
                border: 1px solid #B9B9B9;
                border-radius: 8px;
                >img{
                    margin-top: 80px;
                }
                h4{
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 20px;
                }
                &-options{
                    width: 90%;
                    margin: auto;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 8px 16px;
                    background: #F6F6F6;
                    border-radius: 16px;
                    margin-top: 20px;
                    li{
                        list-style: none;
                        p{
                            font-size: 14px;
                            font-style: italic;
                        }
                    }
                }
                &-book{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border-top: 2px solid #707070;
                    padding-top: 20px;
                    button{
                        padding: 12px 20px;
                        background: var(--layout);
                        color: var(--white);
                        border-radius: 6px;
                        font-size: 12px;
                        font-weight: 700;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        
                    }
                    p{
                        font-size: 14px;
                        color: #1F1F1F;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
}

@keyframes appearItem {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@media screen and (max-width: 1260px) {
    .home-cars{
        &-top{
            ul{
            justify-content: center;
                li{
                    width: 250px;
                    height: 140px;
                }
            }
        }
        &-bottom{
            &-title{
                h2{
                }
            }
        }
    }
}
@media screen and (max-width: 1260px) {
    .home-cars{
        &-bottom{
            &-title{
                h2{
                    font-size: 30px;
                }
            }
            &-items{
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1515px) {
    .home-cars{
        &-bottom{
            &-items{
                justify-content: center;
                &-item{
                    width: 500px;
                }
            }
        }
    }
}

@media screen and (max-width: 975px) {
    .home-cars{
        &-bottom{
            &-title{
                h2{
                    font-size: 25px;
                }
                button{
                    padding: 10px 18px;
                }
            }
            &-items{
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 750px){
    .home-cars{
        &-bottom{
            &-title{
                h2{
                    font-size: 25px;
                }
                button{
                    padding: 10px 18px;
                }
            }
            &-items{
                &-item{
                    width: 100%;
                }                
            }
        }
    }
}
@media screen and (max-width: 600px){
    .home-cars{
        margin: 80px 30px;
        &-top{
            h4{
                font-size: 20px;
            }
        }
        &-bottom{
            &-title{
                h2{
                    font-size: 20px;
                    letter-spacing: 0;
                }
                button{
                    width: 200px;
                    height: 50px;
                    font-size: 13px;
                    padding: 0;
                }
            }
            &-items{
                &-item{
                    >img{
                        margin-top: 80px;
                        width: 240px;
                    }
                    h4{
                        font-size: 15px;
                    }
                    &-options{
                        padding: 4px 12px;
                        li{
                            p{
                                font-size: 10px;
                            }
                        }
                    }
                    &-book{
                        button{
                            padding: 8px 16px;
                            font-size: 8px;
                            
                        }
                        p{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

.home-cars-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 1000px;
    height: 100vh;
    overflow-y: scroll;
    border-radius: 8px;
    background: white;
    // opacity: 0;
    // visibility: hidden;
    // transition: 0.6s;
    padding: 24px 30px 70px 45px;

    &.active {
      // position: ;
      // top: 50%;
      // left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
      // npm ramargin: 20px 0;
    }
    &-upper{
        max-width: 100%;
        display: flex;
        justify-content: right;
    }
    &-lower{
        display: flex;
        justify-content: space-between;
        .home-cars-popup-left {
            width: 550px;
            &-list {
              display: flex;
              align-items: center;
              gap: 20px;
              font-size: 17px;
              color: var(--gray);
              border-bottom: 1px solid var(--gray);
              padding-bottom: 20px;
              li {
                list-style: none;
                cursor: pointer;
                transition: all 0.3s ease;
                font-weight: 400;
        
                &:hover {
                  color: #fda73b;
                }
              }
            }
            &-title {
              padding-top: 20px;
              span {
                color: var(--green);
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0.4000000059604645px;
                text-transform: uppercase;
              }
              h4 {
                font-size: 20px;
                color: var(--black);
                letter-spacing: 0.1rem;
                padding: 14px 0 0px 0;
              }
              p {
                font-size: 17px;
                font-weight: 400;
                color: #333e50;
              }
            }
            &-options {
              margin-top: 80px;
              &-specifications {
                h2 {
                  font-size: 24px;
                  font-weight: 700;
                  color: var(--black);
                  letter-spacing: 0;
                  padding-bottom: 20px;
                }
                &-item {
                  display: flex;
                  justify-content: space-between;
                  border-top: 1px solid var(--gray);
                  padding: 20px 0;
                  font-size: 17px;
                }
                h4 {
                  letter-spacing: 0;
                  color: #333e50;
                }
                p {
                  color: #333e50;
                }
              }
              &-insurance {
                padding-top: 40px;
                h2 {
                  font-size: 24px;
                  font-weight: 700;
                  color: var(--black);
                  letter-spacing: 0;
                  padding-bottom: 20px;
                }
                &-item {
                  display: flex;
                  justify-content: space-between;
                  border-top: 1px solid var(--gray);
                  padding: 20px 0;
                  font-size: 17px;
                }
                h4 {
                  letter-spacing: 0;
                  color: #333e50;
                }
                p {
                  color: #333e50;
                }
              }
            }
          }
          .home-cars-popup-right {
            width: 600px;
            padding: 0 30px;
            text-align: center;
            img {
              margin-top: 60px;
            }
            &-options {
              &-delivery {
                border-top: 2px solid #e7e8ea;
                margin-top: 30px;
                padding-top: 10px;
                &-item {
                  font-size: 17px;
                  div{
                      display: flex;
                      justify-content: space-between;
                    }
                }
                
                h4 {
                  letter-spacing: 0;
                  color: #333e50;
                  &:not(:first-child) {
                    color: #333e50;
                    font-weight: 300;
                  }
                }
                p {
                  font-weight: 600;
                  color: #333e50;
                  padding-top: 3px;
                }
              }
              &-rent {
                width: 100%;
                height: 56px;
                background: var(--layout);
                color: var(--white);
                border-radius: 10px;
                border: none;
                cursor: pointer;
                margin-top: 20px;
              }
            }
          }
        }
        
        .close-popup {
          width: 30px;
          text-align: center;
          height: 27px;
          cursor: pointer;
        }
        
        @media screen and (max-width: 1260px) {
          .home-cars-popup-lower{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    
}
@media screen and (max-width: 900px) {

    .home-cars-popup{
        height: 100%;
        &-upper{
            max-width: 860px;
        }
        &-lower{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &-left{
            max-width: 500px;
        }
        &-right{
            max-width: 560px;
        }
    }
    
}
@media screen and (max-width: 800px) {

    .home-cars-popup{
        height: 100%;
        &-upper{
            max-width: 800px;
        }
        &-lower{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &-left{
            max-width: 500px;
        }
        &-right{
            max-width: 560px;
        }
    }
    
}
@media screen and (max-width: 700px) {

    .home-cars-popup{
        height: 100%;
        &-upper{
            max-width: 760px;
        }
        &-lower{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &-left{
            max-width: 500px;
        }
        &-right{
            max-width: 560px;
        }
    }
    
}

@media screen and (max-width: 600px) {

    .home-cars-popup{
        height: 100%;
        &-upper{
            max-width: 700px;
        }
        &-lower{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &-left{
            max-width: 350px;
        }
        &-right{
            max-width: 410px;

        }
    }
    
}
@media screen and (max-width: 450px) {

    .home-cars-popup{
        height: 100%;
        
        &-upper{
            max-width: 660px;
        }
        &-lower{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &-left{
            max-width: 350px;
        }
        &-right{
            max-width: 410px;
        }
    }
    
}
.hidden{
    overflow-y: hidden;
}
.scroll{
    overflow-y: auto;
}